#debug: true
spring:
  security:
    user:
      password: "test"
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver
#  datasource:
#    url: jdbc:sqlite:./demo-db.sqlite
#    username:
#    password:
#    driver-class-name: org.sqlite.JDBC
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
      format_sql: true
#    database-platform: org.hibernate.community.dialect.SQLiteDialect
    show-sql: true

